<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Nafzasystem
            </h1>
            <p class="lead">
                learn web development with NafzaSystem
            </p>
            <form action="/create-checkout-session" method="POST">
                <button type="submit" id="checkout-button" class="btn btn-info">Checkout</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/rasberrypi.png" alt="NafzaSystem" class="img-fluid">
        </div>
    </div>
</section>